*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter' , 'Serif';
    font-weight: bold;
}
.header-container{
    padding: 0 clamp(0px,calc(13.1455vw - 24.296px),600px); 
}
.titles{
    margin: 36px 0 16px;
    padding-bottom: 21px;
    border-bottom: 1px solid #63687E;
}
h1{
    font-size: 24px;
    line-height: 29px;    /* identical to box height */
    letter-spacing: 0.001em;
    color: #1E202A;
    margin-bottom: 4px;
}
h3{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.021em;
    color: #63687E;
}
p{
    margin: 3px auto 40px 0;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.003em;
    color: #63687E;
}
#switch{
    display:flex
}
.switch{
    width: 48px;
    height: 24px;
    background: #AEB3CB;
    border-radius: 12px;
}
.header-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(235px,1fr));
    column-gap: 30px;
}
.header-card{
    margin-bottom: 24px;
    background: #F0F2FA;
    border-radius: 5px;
    padding-bottom: 24px;
}
.gradient-bar{
    height: 4px;
    border-radius: 4px 4px 0px 0px;
}
.facebook{
    background: #198FF5;
}
.twitter{
    background: #1CA0F2;
}
.instagram{
    background: linear-gradient(90deg, #FDC468 0%, #DF4996 100%);
}
.youtube{
    background: #C4032A;
}
.main-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(235px,1fr));
    column-gap: 30px;
}
.title{
    padding-bottom: 27px;
}
.sm-name{
    margin: 28px auto 18px;
    display: flex;
}
.sm-logo{
    margin: 0 8px 0 auto;
}
.sm-nick{
    margin: auto  auto auto 0;
    font-size: 12px;
    line-height: 15px;    /* identical to box height */
    color: #63687E;
}
.sm-number{
    font-size: 56px;
    line-height: 68px;/* identical to box height */
    text-align: center;
    letter-spacing: -0.035em;
    margin-bottom: 0;
}
.sm-users{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;/* identical to box height */
    text-align: center;
    letter-spacing: 0.425em;
    color: #63687E;
}
.today{
    font-size: 12px;
    line-height: 15px;    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 25px ;
}
.today>img,
.delta>img{
    margin-right: 4px;
}
.positive{
    color: #1DB489;
}
.negative{
    color:  #DC414C;
}
main{
    padding: 22px clamp(0px,calc(13.1455vw - 24.296px),600px); 
}
h2{
    font-size: 24px;
    line-height: 29px;/* identical to box height */
    letter-spacing: 0.005em;
    color: #63687E;
}
.highlight-card{
    height: 125px;
    margin-bottom: 1rem;
    padding: 25px 30px 20px;
    border-radius: 5px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    background: #F0F2FA;
}
.left-up{
    font-size: 14px;
    color: #63687E;
}
.highlight-card>img{
    margin-left: auto;
}
.left-down{
    margin-top: auto;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.005em;
    color: #1E202A;
}
.delta{
    margin: auto 0 0 auto;
    font-size: 14px;
    line-height: 17px;    /* identical to box height */
    letter-spacing: -0.12em;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media (min-width: 950px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .titles{
        border: none;
        margin-bottom: 25px;
    }
    #switch{
        align-items: center;
    }
    p{
        margin: auto 12px auto 0
    }
    .title{
        padding-bottom: 24px;
    }
}