/********************************* 
*       Table of Contents
*       1- General Config
*       2- General Colors
*       3- Header 
*       4- Header Cards
*       5- Main
*       6- Main Cards
*       7- Hover Effects
*       8- Atribution Footer
*       9- Media Query
*********************************/
/********************************
*
*       1- General Config
*
********************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out;
}
body{
    font-family: 'Inter' , 'Serif';
    font-weight: bold;
    width: 100vw;
}
.background-pattern{
    position: absolute;
    height: calc(0.845vw + 230px);
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 1rem 1rem;
}
/********************************
*
*       2- General Colors
*
********************************/
.facebook{
    background: #198FF5;
}
.twitter{
    background: #1CA0F2;
}
.instagram{
    background: linear-gradient(90deg, #FDC468 0%, #DF4996 100%);
}
.youtube{
    background: #C4032A;
}
.positive{
    color: #1DB489;
}
.negative{
    color:  #DC414C;
}
/********************************
*
*       3- Header
*
********************************/
.header-container{
    padding: 0 clamp( 0px, 13.1455vw - 24.296px, 20% ); 
}
header{
    padding-bottom: 36px;
}
.titles{
    margin: 36px 0 16px;
    padding-bottom: 21px;
    border-bottom: 1px solid #63687E;
}
h1{
    font-size: 24px;
    line-height: 29px;    /* identical to box height */
    letter-spacing: 0.001em;
    margin-bottom: 4px;
}
h3{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.021em;
}
label{
    margin: 3px auto auto 0;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.003em;
}
.switch{
    display:flex;
    cursor: pointer;
}
#switch{
    position: relative;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#switch::after{
    content:' ';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 0px;  
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}
.header-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px,1fr));
    column-gap: 30px;
}
/********************************
*
*       4- Header Cards
*
********************************/
.header-card{
    margin-bottom: 24px;
    border-radius: 5px;
    padding-bottom: 24px;
    cursor: pointer;
}
.top-bar{
    height: 4px;
    border-radius: 4px 4px 0px 0px;
}
.sm-name{
    margin: 28px auto 18px;
    display: flex;
}
.sm-logo{
    margin: 0 8px 0 auto;
}
.sm-nick{
    margin: auto  auto auto 0;
    font-size: 12px;
    line-height: 15px;    /* identical to box height */
}
.sm-number{
    font-size: 56px;
    line-height: 68px;/* identical to box height */
    text-align: center;
    letter-spacing: -0.035em;
    margin-bottom: 0;
}
.sm-users{
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;/* identical to box height */
    text-align: center;
    letter-spacing: 0.425em;
}
/********************************
*
*       5- Main
*
********************************/
main{
    padding: 22px clamp( 0px, 13.1455vw - 24.296px, 20% ); 
}
.title{
    padding-bottom: 27px;
}
h2{
    font-size: 24px;
    line-height: 29px;/* identical to box height */
    letter-spacing: 0.005em;
}
.main-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px,1fr));
    column-gap: 30px;
}
/********************************
*
*       6- Main Cards
*
********************************/
.highlight-card{
    height: 125px;
    margin-bottom: 1rem;
    padding: 25px 30px 20px;
    border-radius: 5px;
    display: grid;
    grid-template: 1fr 1fr / 60% 40%;
    cursor: pointer;
}
.today{
    font-size: 12px;
    line-height: 15px;    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 25px ;
}
.today>img,
.delta>img{
    margin-right: 4px;
}
.left-up{
    font-size: 14px;
}
.highlight-card>img{
    margin-left: auto;
}
.left-down{
    margin-top: auto;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.005em;
}
.delta{
    margin: auto 0 0 auto;
    font-size: 14px;
    line-height: 17px;    /* identical to box height */
    letter-spacing: -0.12em;
}
/********************************
*
*       7- Hover Effects
*
********************************/
.light-switch #switch{
    background: #AEB3CB;
}
.light-switch #switch::after{
    transform: translateX(26px);
    background: #F5F7FF;
}
.light-switch:hover #switch,
.light-switch:focus #switch,
.light-switch:active #switch{
    background: linear-gradient(90deg, #378FE6 0%, #3EDA82 100%);
}
.dark-switch #switch{
    background: linear-gradient(90deg, #378FE6 0%, #3EDA82 100%);
}
.dark-switch #switch::after{
    transform: translateX(2px);
    background: #1E202A;
}
.dark-switch:hover label,
.dark-switch:focus label,
.dark-switch:active label{
    color: white;
}
.dark-card{
    background: #252A41;
}
.light-card{
    background: #F0F2FA;
}
.light-card:hover,
.light-card:focus,
.light-card:active{
    background: #E1E3F0;
}
.dark-card:hover,
.dark-card:focus,
.dark-card:active{
    background: #333A56;
}

/********************************
*
*       8- Atribution Footer
*
********************************/
.attribution { 
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    font-size: 11px; 
    text-align: center;
    background: #1E202A;
    color: #8B97C6;
}
.attribution a { 
    text-decoration: none;
    background: linear-gradient(90deg, #378FE6 0%, #3EDA82 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/********************************
*
*       9- Media Query
*
********************************/
@media (min-width: 800px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }
    .titles{
        border: none;
        margin-bottom: 25px;
    }
    .switch{
        align-items: center;
    }
    label{
        margin: auto 12px auto 0
    }
    .title{
        padding-bottom: 24px;
    }
}